<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Proposal information</title>
</head>
<body>
Title: <span th:text="${proposal.title}" /><br />
Votes: <span th:text="${proposal.voteBalance}" /> (+<span th:text="${proposal.upvotes}" />)/(-<span th:text="${proposal.downvotes}" />)<br />
Comments: <span th:text="${proposal.commentsList.size()}" /><br />
<table>
    <tr th:each="comment,it : ${proposal.commentsList}">
        <td><div align="center">
            <span th:text="${comment.user}"></span>
            <br />
            <span th:text="${comment.content}"></span>
        </div></td>
    </tr>
</table>
</body>
</html>